<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- default values for lumen test -->
    <add key="default.distance" value="19.3333"/>    <!--foot candles-->
    <add key="default.correction.calibration" value="0.97484"/>
    <add key="default.correction.theta" value="1.09313"/>   <!-- radians theta from arm length -->
  </appSettings>
</configuration>