
*.suo

/Goniometer/bin
/Goniometer/obj

/Goniometer Controller/obj
/Goniometer Controller/bin

/Goniometer Tests/bin
/Goniometer Tests/obj

/Minolta Controller/obj
/Minolta Controller/bin

/Simpler Logger/bin
/Simpler Logger/obj

/TestResults
*.testsettings

