
*.suo
/Goniometer/bin
/Goniometer/obj
/Goniometer Controller/obj
/Goniometer Controller/bin
/Goniometer Tests/bin
/Goniometer Tests/obj
/TestResults
*.testsettings
/Goniometer Setup/Release
/Goniometer Setup/Debug
/Goniometer Setup/Release
/Simpler Logger/bin
/Simpler Logger/obj
