<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Goniometer_Controller.Properties.Settings.CalibrationConnectionString"
      connectionString="Data Source=|DataDirectory|\Calibration\Calibration.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <appSettings>
    <add key="logFile" value="C:/log/goniometer.log" />
  </appSettings>
</configuration>