<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- location of log files -->    
    <add key="logFile" value="C:/log/goniometer.log" />
    
    <!-- location of report files -->
    <add key="reportFolder" value="C:/data/" />

    <!-- settings required to send email -->
    <add key="fromEmail" value="cltc-goniometer@ucdavis.edu" />
    <add key="smtpHost" value="smtp.ucdavis.edu" />

    <!-- default values for lumen test -->
    <add key="default.horizontalResolution" value="15" />
    <add key="default.verticalResolution" value="5" />
    <add key="default.horizontalStrayResolution" value="15" />
    <add key="default.verticalResolution" value="5" />
    <add key="default.offset" value="1" />
  </appSettings>
</configuration>
