<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="logFile" value="C:/log/goniometer.log" />
    <add key="fromEmail" value="cltc-goniometer@ucdavis.edu" />
    <add key="smtpHost" value="smtp.ucdavis.edu" />
  </appSettings>
</configuration>
