<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logFile" value="C:/log/goniometer.log" />
    <add key="reportFolder" value="C:/data/" />
    
    <add key="fromEmail" value="cltc-goniometer@ucdavis.edu" />
    <add key="smtpHost" value="smtp.ucdavis.edu" />
  </appSettings>
</configuration>
